@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Russo+One&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Russo+One&family=Ubuntu:wght@300&display=swap');

.work {
    width: 1400px;
    height: 8000px;
}
.notebook {
    background: url(./img/notebook.png);
    height: 800px;
    width: 1400px;
}
.logo {
    position: absolute;
    margin: 46px 0px 0px 100px;
}
.logo-name {
    font-family: 'Montserrat';
    font-size: 24px;
    position: absolute;
    color: #8D81AC;
    margin: 35px 0px 0px 170px;
    font-weight: 700;
}
.horisontal-ul {
    color: #8D81AC;
    list-style-type: none;
    position: absolute;
    margin: 40px 0px 0px 500px;
    font-family: 'Montserrat';
    font-size: 16px;
    display: flex ;
    
}
.horisontal-ul li {
    font-weight: 700;
    margin: 0px 65px 0px 0px;
}
.buy {
    color: #FFFFFF ;
    padding: 10px 45px;
    background-color: #8D81AC;
    border-radius: 33px 33px 33px 33px;
-moz-border-radius: 33px 33px 33px 33px;
-webkit-border-radius: 33px 33px 33px 33px;
}
.fork_app {
    position: absolute;
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 82px;
    margin: 160px 0px 0px 510px;
}
.gamechanger {
    position: absolute;
    font-family: 'Montserrat';
    color: #8D81AC;
    font-weight: 400;
    font-size: 30px;
    margin: 270px 0px 0px 330px;
}
.version {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #848E97;
    font-size: 16px;
    margin: 320px 0px 0px 590px;
}
.download {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 21px;
    line-height: 22px;
    margin: 755px 0px 0px 490px;
    padding: 15px 68px;
    background: #8D81AC;
    border: 2px solid #8D81AC;
    border-radius: 33px 33px 33px 33px;
-moz-border-radius: 33px 33px 33px 33px;
-webkit-border-radius: 33px 33px 33px 33px; ;
    }
.period {
    position: absolute;
    color: #848E97;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin: 820px 0px 0px 585px;
}
.revolutionary {
    position: absolute;
    color: #635C73;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    margin: 900px 0px 0px 326px;
}
.revolutionary-text {
    position: absolute;
    color: #323232;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    margin: 1000px 0px 0px 185px;
    padding: 0px 300px 0px 0px ;
    text-align: center;
    font-family: 'Montserrat';
}
.watch {
    position: absolute;
    margin: 1100px 0px 0px 520px;
}
.icon-1 {
    position: absolute;
    margin: 1300px 0px 0px 70px;
}
.icon-2 {
    position: absolute;
    margin: 1450px 0px 0px 70px;
}
.icon-3 {
    position: absolute;
    margin: 1600px 0px 0px 80px;
}
.icon-4 {
    position: absolute;
    margin: 1770px 0px 0px 75px;
}
.icon-1-main {
    position: absolute;
    color: #323232;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 1290px 0px 0px 210px;
}
.icon-1-text {
    position: absolute;
    color: #848E97;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 1330px 0px 0px 210px;
    padding: 0px 900px 0px 0px;
}
.icon-2-main {
    position: absolute;
    color: #323232;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 1445px 0px 0px 210px;
}
.icon-2-text {
    position: absolute;
    color: #848E97;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 1480px 0px 0px 210px;
    padding: 0px 900px 0px 0px;
}
.icon-3-main {
    position: absolute;
    color: #323232;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 1595px 0px 0px 210px;
}
.icon-3-text {
    position: absolute;
    color: #848E97;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 1635px 0px 0px 210px;
    padding: 0px 900px 0px 0px;
}
.icon-4-main {
    position: absolute;
    color: #323232;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 1760px 0px 0px 210px;
}
.icon-4-text {
    position: absolute;
    color: #848E97;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 1795px 0px 0px 210px;
    padding: 0px 900px 0px 0px;
}
.you-get {
    position: absolute;
    color: #8D81AC;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    margin: 1270px 0px 0px 720px;
}
.code {
    position: absolute;
    margin: 1360px 0px 0px 702px;
}
.cave {
    position: absolute;
    margin: 2000px 0px 0px 0px;
    height: 781px;
}
.talking {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    margin: 2100px 0px 0px 320px;
}
.logo-1 {
    position: absolute;
    margin: 2230px 0px 0px 190px;
}
.logo-2 {
    position: absolute;
    margin: 2230px 0px 0px 630px;
}
.logo-3 {
    position: absolute;
    margin: 2230px 0px 0px 1130px;
}
.logo-1-text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    margin: 2320px 0px 0px 120px;
    padding: 0px 1080px 0px 0px;
    text-align: center;
    font-style: italic;
}
.logo-2-text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    margin: 2320px 0px 0px 520px;
    padding: 0px 600px 0px 0px;
    text-align: center;
    font-style: italic;
}
.logo-3-text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    margin: 2320px 0px 0px 1000px;
    padding: 0px 190px 0px 0px;
    text-align: center;
    font-style: italic;
}
.logo-4 {
    position: absolute;
    margin: 2480px 0px 0px 160px;
}
.logo-5 {
    position: absolute;
    margin: 2480px 0px 0px 630px;
}
.logo-6 {
    position: absolute;
    margin: 2480px 0px 0px 1110px;
}
.logo-4-text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    margin: 2550px 0px 0px 120px;
    padding: 0px 1080px 0px 0px;
    text-align: center;
    font-style: italic;
}
.logo-5-text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    margin: 2550px 0px 0px 520px;
    padding: 0px 600px 0px 0px;
    text-align: center;
    font-style: italic;
}
.logo-6-text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    margin: 2550px 0px 0px 1000px;
    padding: 0px 190px 0px 0px;
    text-align: center;
    font-style: italic;
}
.warning {
    position: absolute;
    color: #A291A5;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 21px;
    margin: 2720px 350px 0px 275px;
    text-align: center;
    border-bottom: solid 2px #645766;
}
.cave-blur {
    position: absolute;
    margin: 2758px 0px 0px 0px;
    height: 891.5px;
}
.subcription {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    margin: 2900px 0px 0px 390px;
}
.service-students {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 3100px 0px 0px 180px;
    padding: 20px 60px;
    background-color: rgba(255, 255, 255, 0.2);
}
.money-students {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    margin: 3163.5px 0px 0px 180px;
    padding: 20px 70px;
    background-color: rgba(255, 255, 255, 0.1);
}
.per-month-students {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 3293.5px 0px 0px 180px;
    padding: 20px 87.5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: solid 4px #8D81AC;
}
.license-students {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 3353px 0px 0px 180px;
    padding: 30px 58px;
    padding-bottom: 160px;
    background-color: rgba(255, 255, 255, 0.1);
}
.purchase-students {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin: 3460px 0px 0px 229px;
    padding: 15px 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}
.service-professional {
   position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 3100px 0px 0px 440px;
    padding: 20px 29px;
    background-color: rgba(255, 255, 255, 0.2);
}
.money-professional {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    margin: 3163.5px 0px 0px 440px;
    padding: 20px 70.5px;
    background-color: rgba(255, 255, 255, 0.1);
}
.per-month-professional {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 3293.5px 0px 0px 440px;
    padding: 20px 88.1px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: solid 4px #8D81AC;
}
.license-professional {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 3353px 0px 0px 440px;
    padding: 30px 45.2px;
    padding-bottom: 142px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.purchase-professional {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin: 3460px 0px 0px 490px;
    padding: 15px 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}
.service-agency {
   position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 3100px 0px 0px 701px;
    padding: 20px 73px;
    background-color: rgba(255, 255, 255, 0.2);
}
.money-agency {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    margin: 3163.5px 0px 0px 701px;
    padding: 20px 68px;
    background-color: rgba(255, 255, 255, 0.1);
}
.per-month-agency {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 3293.5px 0px 0px 701px;
    padding: 20px 87px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: solid 4px #8D81AC;
}
.license-agency {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 3353px 0px 0px 701px;
    padding: 30px 47px;
    padding-bottom: 142px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.purchase-agency {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin: 3460px 0px 0px 750px;
    padding: 15px 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}
.service-enterprise {
   position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 3100px 0px 0px 960px;
    padding: 20px 48px;
    background-color: rgba(255, 255, 255, 0.2);
}
.money-enterprise {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    margin: 3163.5px 0px 0px 960px;
    padding: 20px 58.5px;
    background-color: rgba(255, 255, 255, 0.1);
}
.per-month-enterprise {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 3293.5px 0px 0px 960px;
    padding: 20px 88px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: solid 4px #8D81AC;
}
.license-enterprise {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 3353px 0px 0px 960px;
    padding: 30px 21px;
    padding-bottom: 142px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.purchase-enterprise {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin: 3460px 0px 0px 1008px;
    padding: 15px 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}